<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Data</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <form action="" method="post">
            <br>
                <h1>Edit Data</h1>
            <br>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="id">ID</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" value="<%= item.id %>" id="id" name="id" readonly
                        style="background-color: #ccc;" required="">
                </div>
            </div>

            <div class="row mb-3">
                <label for="string" class="col-sm-2 col-form-label">String</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="<%= item.string %>" id="string" name="string" required="">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="integer">Integer</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" value="<%= item.integer %>" id="integer" name="integer" required="">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="float">Float</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" value="<%= item.float %>" id="float" step="any"
                        name="float" required="">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="date">Date</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" value="<%= moment(item.date).format('MM-DD-YYYY') %> "
                        id="date" name="date" required="">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="boolean">Boolean</label>
                <div class="col-sm-10">
                    <select class="form-control" style="background-color: white;" id="boolean" name="boolean">
                        <option value="true" <% if(item.boolean=="true" ){ %>selected<% } %>>True</option>
                        <option value="false" <% if(item.boolean=="false" ){ %>selected<% } %>>False</option>
                    </select>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-warning" href="/">Back</a>
        </form>
    </div>
</body>

</html>